# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific Source build products
*.vpc.sentinel
*.vpc_crc
Debug/
Release/

# Linux build product
*.P
*.map
*_linux32.mak
*_linux32.project

# Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
ipch/
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.VC.db
*.VC.VC.opendb
.vs/
*.pdb